.env
.DS_STORE
.DS_Store

samples/*

# local .terraform dir
**/.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variable files, may include sensitive data
*.tfvars

# cli configuration files
.terraformrc
terraform.rc

# ignore crash logs
crash.log
